<%= form_for(@user, :url => { :action => "update_profile" }, remote: true ) do |f| %>
  <%= devise_error_messages! %> 
  <div class="field form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, :autocomplete => "off", :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :class => 'form-control' %>
  </div>
  <div class="action_container">
    <div class="actions">
      <%= f.submit 'Update', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>